*{
    margin: 0;
    padding: 0;
    background-color:white;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    padding: 20px 10px;
    height: 15vh;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 500px;
}

/* main section */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.leftsection{
width: 40%;
}
.leftsection h1{
    font-size: 60px;
}
.leftsection p{
    margin: 5% 0;
}
.leftsection button:hover{
    background-color: yellow;
    color: #4d4d4d;
    border-radius: 15px;
    border: black;

}
.leftsection button{
    background-color:#6EC72D;
    padding: 15px 20px;
    text-align: center;
    color:#ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
.rightsection{
    width: 60%;

}